* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: #849d8f;
}

.container {
  background: #849d8f;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  background: url(../img/logo.png) no-repeat center / contain;
  width: 154px;
  height: 64px;
}

nav > a {
  margin-left: 20px;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 27px;
}

.basket-client {
  margin-right: 20px;
  color: #ffffff;
  padding: 11px;
  background: #9db1a6;
  border-radius: 20px;
}

.fa-sign-out-alt {
  margin-right: 5px;
}

.fa-shopping-cart {
  margin-right: 5px;
}

h2 {
  font-size: 58px;
  color: #ffffff;
  font-weight: 500;
}

.choice-page {
  display: flex;
  margin-left: 27px;
}

.choice-page > a {
  margin-top: 497px;
  margin-right: 5px;
}

.dot {
  display: block;
  background: url(../img/round2.png) no-repeat center / contain;
  width: 21px;
  height: 21px;
}

.h-but {
  font-size: 26px;
  display: inline;
  color: #ffffff;
  padding: 13px 35px;

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #f26843),
    color-stop(100%, #db4c38)
  );
  background: -webkit-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: -o-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: -ms-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: linear-gradient(to bottom, #f26843 0%, #db4c38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26843', endColorstr='#db4c38', GradientType=0 );

  border-radius: 31px;
  box-shadow: 0 2px 2px #bf6351;
}

.gift-but {
  font-size: 22px;
}

.gift-marcup {
  margin: 40px 0 20px 300px;
}

.gift-marcup2 {
  margin: 40px 0 20px 265px;
}

.head-but {
  flex-basis: 82%;
}

header {
  position: relative;
  z-index: 1;
}

#layer1 {
  position: absolute;
  display: block;
  background: url(../img/ice-left.png) no-repeat center / contain;
  width: 372px;
  height: 584px;
  z-index: 3;
  top: 6em;
  left: 265px;
}
#layer2 {
  position: absolute;
  display: block;
  background: url(../img/ice-right.png) no-repeat center / contain;
  width: 333px;
  height: 519px;
  z-index: 2;
  top: 9em;
  left: 580px;
}
#layer3 {
  position: absolute;
  display: block;
  background: url(../img/lite.png) no-repeat center / contain;
  width: 1045px;
  height: 881px;
  z-index: 0;
  top: -3em;
  left: 5em;
}
#layer4 {
  position: absolute;
  z-index: 4;
  top: 24.7em;
  left: 17em;
}
#layer5 {
  position: absolute;
  z-index: 4;
  top: 36em;
  left: 30.5em;
}
#layer6 {
  position: absolute;
  z-index: 5;
  top: 40.5em;
  left: 1.5em;
}

.ad-left {
  display: block;
  background: url(../img/malina.png) no-repeat center / contain;
  width: 560px;
  height: 229px;
  margin-right: 27px;
}

.ad-right {
  display: block;
  background: url(../img/shokolad.png) no-repeat center / contain;
  width: 560px;
  height: 229px;
}

.ad {
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
}

/* Section With Ice-Cream */

.container-ice-cream {
  position: relative;
  z-index: 1;
}

.ice-markup {
  position: absolute;
  z-index: 5;
  top: 19.5em;
  left: 1.5em;
  display: flex;
}

.ice-cream {
  margin-right: 27px;
}

.ice-cream-pic1 {
  display: block;
  background: url(../img/ice-cream1.png) no-repeat center / contain;
  width: 267px;
  height: 267px;
}
.ice-cream-pic2 {
  display: block;
  background: url(../img/ice-cream2.png) no-repeat center / contain;
  width: 267px;
  height: 267px;
}
.ice-cream-pic3 {
  display: block;
  background: url(../img/ice-cream3.png) no-repeat center / contain;
  width: 267px;
  height: 267px;
}
.ice-cream-pic4 {
  display: block;
  background: url(../img/ice-cream4.png) no-repeat center / contain;
  width: 267px;
  height: 267px;
}

.ice-hit1 {
  display: block;
  background: url(../img/hit.png) no-repeat center / contain;
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 6;
  top: 0em;
  left: 0em;
}
.ice-hit2 {
  display: block;
  background: url(../img/hit.png) no-repeat center / contain;
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 6;
  top: 0em;
  left: 18.5em;
}
.ice-hit3 {
  display: block;
  background: url(../img/hit.png) no-repeat center / contain;
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 6;
  top: 0em;
  left: 36.7em;
}
.ice-hit4 {
  display: block;
  background: url(../img/hit.png) no-repeat center / contain;
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 6;
  top: 0em;
  left: 55.1em;
}

.ice-price-sing {
  display: block;
  background: url(../img/p.png) no-repeat center / contain;
  width: 31px;
  height: 36px;
}

.ice-price1 {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 6;
  top: 13em;
  left: 0;
}
.ice-price2 {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 6;
  top: 13em;
  left: 18.5em;
}
.ice-price3 {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 6;
  top: 13em;
  left: 36.8em;
}
.ice-price4 {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 6;
  top: 13em;
  left: 55.2em;
}

.ice-price-num {
  font-size: 44px;
  font-weight: 900;
}

.ice-price-text {
  font-size: 26px;
  font-weight: 700;
}

.ice-cream-text {
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.head-gift {
  font-size: 18px;
  font-weight: bold;
}

.ad-bold {
  margin: 20px;
}

/* Section With Waffels */
.container-waffels {
  position: relative;
  z-index: 1;
}

.container-waffels-markup {
  position: absolute;
  z-index: 5;
  top: 42em;
}

.waffles {
  margin-left: 27px;
  display: block;
  background: url(../img/shop-fon.png) no-repeat center / contain;
  width: 1146px;
  height: 306px;
}

.waffles-text {
  font-size: 24px;
  color: #323232;
  padding: 20px;
}

.waffles-diskription {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.waffles-dis-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.waffles-dis-left {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.waffles-pic1 {
  display: block;
  background: url(../img/shop1.png) no-repeat center / contain;
  width: 49px;
  height: 49px;
  flex-basis: 23%;
  margin-top: -20px;
}
.waffles-pic2 {
  display: block;
  background: url(../img/shop3.png) no-repeat center / contain;
  width: 49px;
  height: 49px;
  flex-basis: 24%;
  margin-top: -20px;
}
.waffles-pic3 {
  display: block;
  background: url(../img/shop2.png) no-repeat center / contain;
  width: 49px;
  height: 49px;
  flex-basis: 30%;
  margin-top: -20px;
}
.waffles-pic4 {
  display: block;
  background: url(../img/shop4.png) no-repeat center / contain;
  width: 49px;
  height: 49px;
  flex-basis: 30%;
  margin-top: -20px;
}

/* Section With Submit form */

.container-blog {
  position: relative;
  z-index: 1;
}

.send-all {
  position: absolute;
  z-index: 5;
  top: 64em;
  display: flex;
  margin-left: 27px;
}

.blog {
  display: block;
  background: url(../img/blog-fon.png) no-repeat center / contain;
  width: 560px;
  height: 220px;
}

.form {
  display: block;
  background: url(../img/blog-fon2.png) no-repeat center / contain;
  width: 560px;
  height: 220px;
  margin-left: 27px;
}

.blog-content {
  margin-left: 20px;
}
.blog-text {
  color: #323232;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
a > span {
  color: #323232;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #323232;
}

.form-fon {
  background: #f8f7f4;
  width: 550px;
  height: 210px;
  margin: 5px;
  border-radius: 15px;
}

.form-text {
  color: #5a5a5a;
  padding: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 508px;
  margin-top: 30px;
  margin-left: 20px;
}

.input {
  padding: 8px;
  border: 2px solid #d3d3d2;
  min-width: 345px;
  background: #ffffff;
  color: #999999;
  border-radius: 5px;
}

.subscribe {
  font-size: 14px;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #f26843),
    color-stop(100%, #db4c38)
  );
  background: -webkit-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: -o-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: -ms-linear-gradient(top, #f26843 0%, #db4c38 100%);
  background: linear-gradient(to bottom, #f26843 0%, #db4c38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26843', endColorstr='#db4c38', GradientType=0 );
  color: #fff;
  padding: 12px 19px;
  border: 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

/* Section With Map-Address */

.container-map {
  position: relative;
  z-index: 1;
}

.map {
  position: absolute;
  z-index: 5;
  top: 80.5em;
  display: block;
  background: url(../img/map.png) no-repeat center / contain;
  width: 1200px;
  height: 429px;
}

.map-ice {
  display: block;
  background: url(../img/on-map.png) no-repeat center / contain;
  width: 218px;
  height: 142px;
  margin: 9em 0 0 16em;
}

.address {
  background: #ffffff;
  width: 302px;
  height: 305px;
  border-radius: 20px;
  margin-top: 3.5em;
  margin-right: 27px;
}

.address-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 20px;
}

.map-address {
  display: flex;
  justify-content: space-between;
}

.map-lit {
  font-size: 14px;
  line-height: 1.2;
  color: #343434;
}

.map-big {
  font-size: 18px;
  line-height: 1.5;
  color: #3b3b3b;
  font-weight: bold;
}

.map-big-interval {
  margin-bottom: 20px;
}

.map-but {
  text-align: center;
  margin-top: 25px;
}
.map-button {
  font-size: 18px;
}

/* FOOTER */

.container-footer {
  position: relative;
  z-index: 1;
}

.footer-content {
  position: absolute;
  z-index: 5;
  top: 110em;
  left: 0;
  padding-bottom: 2em;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  font-size: 25px;
  color: #e6ebe9;
  margin-left: 27px;
}

.footer-doc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 0 20%;
}

.footer-but {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #e84d36;
  margin-right: 27px;
}
